#flash
  display: none
  position: fixed
  bottom: 0
  width: 100%
  z-index: 400
  div
    font-size: 1.2em
    line-height: 1.2em
    color: $flash_text_color
    padding: 0.5em
    margin: 0
    text-align: center
    +media($desktop)
      font-size: 1.6em
  .notice, .success
    background-color: $flash_success_color
  .failure, .error, .alert
    background-color: $flash_failure_color
#pre_header_wrapper
  background-color: $ice
  header
    +outer-container
    .logo
      padding: 0 0 .7em 0
      text-align: center
      +media($desktop)
        float: left
        padding: 1.1em 0 1.2em 0
      a
        text-decoration: none
        img
          height: .5em
          +media($desktop)
            height: auto
    .sign_in, .user
      color: $medium_gray
      display: none
      float: right
      font-size: 0.8em
      font-weight: bold
      text-align: right
      margin-top: 2em
      width: 20%
      a
        color: $medium_gray
        text-decoration: none
        width: 100%
        &:hover
          color: $link_color
      +media($desktop)
        display: block
    .user
      background: transparent url('user.svg') no-repeat center center
      background-size: contain
      cursor: pointer
      height: 48px
      margin-top: 1em
      text-align: center
      width: golden-ratio(48px, 1)
      img
        border-radius: 512px
        -o-border-radius: 512px
        -moz-border-radius: 512px 
        -webkit-border-radius: 521px
        height: 48px
        width: 48px
      nav
        background-color: $container_color
        border: 0
        border-radius: 5px
        -o-border-radius: 5px
        -moz-border-radius: 5px 
        -webkit-border-radius: 5px
        display: none
        padding: 1em 0 0 0
        position: absolute
        top: 5em
        transform: translateX(-19%)
        width: golden-ratio(48px, 2)
        z-index: 500
        a
          display: block
          text-align: center
          text-decoration: none
          &:hover
            text-decoration: none
      &:hover
        nav
          display: block
#header_wrapper
  header
    text-align: center
    +outer-container
    padding-top: 2em
#post_header_wrapper
  background-color: $button_color
  padding: 1em 0
  header
    +outer-container
#content
  padding: 4em 0
  +outer-container
  >section
    +span-columns(6)
#footer_wrapper
  padding: 2.5em 0 2em 0
  background: $footer_color
  footer
    +outer-container
    text-align: center
    a
      text-decoration: none
    h4
      +span-columns(6)
      margin-bottom: 2em
      a
        color: $footer_text_color
        text-decoration: none
        font-size: 2em
        line-height: 1.2em
        &:hover
          opacity: 0.8
    h5
      color: $footer_text_color
    .user
      +span-columns(6)
      margin-bottom: 4em
      +media($desktop)
        display: none
      a
        +sistemico_button
        font-size: 1em
        line-height: 1.5em
        margin-left: 0em
        display: block
        margin-bottom: 1em
    .credits
      +span-columns(6)
    .links
      +span-columns(6)
      +media($desktop)
        +span-columns(6)
        +shift(3)
      margin-bottom: 2em
      h5
        +span-columns(2)
        +omega(3n)
    .flags
      +span-columns(6) 
      margin-top: 2em
      text-align: center
      a
        display: inline-block
        margin-right: 0.5em
        &:last-child
          margin: 0
