@mixin sistemico_mobile_button
  background: $button_color
  border: 0
  border-radius: 3em
  color: $button_text_color
  cursor: pointer
  display: block
  font: 1em $standard_font
  letter-spacing: .2em
  margin-bottom: 1em
  padding: .75em 2em
  text-align: center
  text-decoration: none
  text-transform: uppercase
  width: golen-ratio(100%, 1)
  +media($desktop)
    display: inline 
    margin: 0
    width: auto
  &:hover
    background: $button_hover_color
    color: $button_text_color
@mixin sistemico_button
  +sistemico_mobile_button
  border-radius: 1em
  padding: 2em
@mixin sistemico_warning
  background-color: tint($flash_failure_color, 80%)
  padding: 2em
  h2, h3
    font-size: 1.17em
    color: $flash_failure_color
  h3
    margin-bottom: 1em
  margin-bottom: 2em
.button, a.button
  +sistemico_mobile_button
  +media($desktop)
    +sistemico_button
.reject
  background: $careful_color
  &:hover
    background: $careful_hover_color
.links
  +span-columns(6)
  text-align: center
.field
  margin-bottom: 2em
.warning
  +sistemico_warning
.transactions
  background-color: $container_color
  padding: 0 0 3em 0
  text-align: center
  h2
    font: normal $normal_weight 1em $headline_font
    letter-spacing: .2em
    text-transform: uppercase
    .number
      display: block
      font: normal $normal_weight 4em $standard_font
  h3, article
    margin: 0 0 3em 0
  h3
    font: normal $normal_weight .8em $standard_font
    letter-spacing: .2em
    padding-top: 2.5em
    text-transform: uppercase
  .transaction
    margin: 1em 0 3em 0
    background-color: $box_color
    .from_user, .to_user
      a
        color: $text_color 
        font-weight: $bold_weight
        text-decoration: none
        &:hover
          color: $link_color
      span
        display: block
        font-weight: $normal_weight
        text-transform: lowercase
    .from_user
      background: transparent image-url('transaction_conectors_mobile.svg') repeat-y center top / contain
      padding: 1em 0
      text-align: center
    .images
      background: transparent image-url('transaction_arrows_mobile.svg') no-repeat center center / contain
      .from, .to
        float: left
        margin: 0
        width: 33%
        img
          border: 5px solid $container_color
          border-radius: 50%
          width: 100%
      .to
        float: right
      &:after
        content: "."
        display: block
        clear: both
        visibility: hidden
        line-height: 0
        height: 0
    .value
      clear: both
      letter-spacing: .2em
      text-transform: uppercase
      span.number
        display: block
        font-size: 3.5em
        letter-spacing: normal
        line-height: 1
    .to_user
      background: transparent image-url('speech_bubble_arrow_mobile.svg') no-repeat bottom center / contain
      padding: 2em 0
    .description
      background-color: $container_color
      border-radius: 1em
      margin: 0 1%
      padding: .5em
      text-align: left
    .created_at
      padding: .5em 0
  +media($desktop)
    +outer-container
    .transaction
      width: auto
      border-radius: 1em
      position: relative
      .from_user, .to_user
        font-size: 1.2em
        span
          display: inline 
      .from_user
        background-image: image-url('transaction_conectors_desktop.svg')
        padding: .8em 0 0 0
      .images
        background-image: image-url('transaction_arrows_desktop.svg')
        transform: translateY(-0.8em)
        -webkit-transform: translateY(-0.8em)
        .from, .to
          margin: 0 15%
          width: 20%
          .to
            float: right
      .value
        position: absolute
        top: 3.8em
        width: 100%
        span
          margin-bottom: .5em
      .to_user
        background-image: image-url('speech_bubble_arrow_desktop.svg')
        padding: 0
        h5
          margin: 0
          transform: translateY(-1.8em)
          -webkit-transform: translateY(-1.8em)
      .description
        margin-left: 20%
        padding: 1em
        width: 60%
      .created_at
        padding: .5em 0
