$asset-pipeline: true
+font-face(SourceSansPro     , 'SourceSansPro/SourceSansPro-Regular')
+font-face(SourceSansPro     , 'SourceSansPro/SourceSansPro-Bold', bold)
+font-face(SourceSansProLight, 'SourceSansPro/SourceSansPro-Light')

$standard_font: SourceSansPro, 'Helvetica Neue', Arial, Helvetica, sans-serif
$headline_font: SourceSansProLight, 'Helvetica Neue', Arial, Helvetica, sans-serif
